body {
  position: relative;
  font-size: 16px;
  line-height: 1.3; }

.ball {
  font-family: Helvetica;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  line-height: 35px;
  justify-content: center;
  color: aqua;
  position: absolute;
  width: 70px;
  height: 35px;
  border-radius: 10%;
  background-color: purple;
  animation: pulse 5s linear infinite; }

@keyframes bounce {
  0% {
    bottom: 100%; }
  50% {
    bottom: 0; }
  100% {
    bottom: 100%; } }

@keyframes pulse {
  0% {
    background-color: #001F3F;
    color: #FF4136; }
  100% {
    background-color: #FF4136;
    color: #001F3F; } }

.episode-content-toggle {
  position: absolute;
  left: -9999em; }

.episode-content-title {
  position: relative;
  display: inline-block;
  margin-bottom: 1.5rem;
  color: #9be22d;
  cursor: pointer;
  vertical-align: middle; }

.episode-content-toggle ~ .episode-accordion {
  max-height: 0;
  overflow: hidden; }

.episode-accordion {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.episode-content-toggle:checked ~ .episode-accordion {
  max-height: 10000px; }

.slide-container {
  box-sizing: border-box;
  position: relative;
  height: 400px;
  overflow: hidden; }

.slide-container img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  max-height: 350px;
  padding: 5px;
  border: 3px solid lightcoral; }

.slide1 {
  animation: fade 20s infinite; }

.slide2 {
  animation: fade 20s 4s infinite; }

.slide3 {
  animation: fade 20s 8s infinite; }

.slide4 {
  animation: fade 20s 12s infinite; }

.slide5 {
  animation: fade 20s 16s infinite; }

@keyframes fade {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  20% {
    opacity: 1; }
  30% {
    opacity: 0; }
  40% {
    opacity: 0; }
  50% {
    opacity: 0; }
  60% {
    opacity: 0; }
  70% {
    opacity: 0; }
  80% {
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    opacity: 0; } }

input:optional ~ label:after {
  content: " (optional)";
  display: block;
  color: #888; }

input:not([type="submit"]):valid:focus,
textarea:valid:focus {
  box-shadow: 0 0 10px rgba(101, 169, 10, 0.8);
  outline: 0; }

input:not([type="submit"]):invalid:focus,
textarea:invalid:focus {
  box-shadow: 0 0 10px rgba(204, 63, 133, 0.8);
  outline: none; }

input[type="text"]:focus:invalid ~ label:before {
  content: "Please enter your full name"; }

input[type="email"]:focus:invalid ~ label:before {
  content: "Please enter a valid email"; }

input[type="tel"]:focus:invalid ~ label:before {
  content: "Please only use numbers"; }

textarea:focus:invalid ~ label:before {
  content: "Please enter a message"; }

input:focus:valid ~ label:before,
textarea:focus:valid ~ label:before {
  content: "Perfect, thanks!"; }

label:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1rem;
  opacity: 0;
  transition: 0.2s; }

input:focus ~ label:before,
textarea:focus ~ label:before {
  bottom: 100%;
  opacity: 1; }

input:focus:invalid ~ label:before,
textarea:focus:invalid ~ label:before {
  color: #cc3f85; }

input:focus:valid ~ label:before,
textarea:focus:valid ~ label:before {
  color: #65a90a; }

label, input {
  margin: 10px;
  padding: 5px; }

.container {
  height: 400px;
  margin: 20px;
  background: #444;
  font-size: 0;
  text-align: center; }

.container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.box {
  display: inline-block;
  width: 50%;
  padding: 2em;
  border: 1px solid #000;
  background: #cc3f85;
  font-size: 1rem;
  vertical-align: middle; }

.image {
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  max-height: 200px;
  animation: dream 5s ease-out alternate infinite; }

.magreb {
  cursor: pointer;
  z-index: 2;
  top: 43%;
  left: 23%;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: 400;
  font-family: 'Inknut Antiqua', serif; }

.con {
  margin: 0 auto;
  margin-top: 200px;
  height: 200px;
  width: 200px;
  position: relative; }

@keyframes dream {
  0% {
    transform: scale(1, 1) rotate(0deg); }
  100% {
    transform: scale(2.5, 2.5) rotate(1080deg); } }
